.board {
    padding-top: 3em;
    text-align: center;
}

.row div {
    float: left;
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
    
}

.row {
    width: 302px;
    clear: both;
    margin: 0 auto;
}

.top {
    border-bottom: 1px black solid;
}

.left {
    border-right: 1px black solid;
}

.right {
    border-left: 1px black solid;
}

.bottom {
    border-top: 1px black solid;
}

h1, h2 {
    text-align: center;
}

h2 {
    color: red;
}

